[submodule "third/logging/spdlog"]
	path = third/logging/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third/json/json"]
	path = third/json/json
	url = https://github.com/nlohmann/json.git
